@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Outfit:wght@400;500;600;700&display=swap");
/* ===== Global ===== */
:root {
  --primary: #eab208;
  --black: #1b120f;
  --white: #fdfdfc;
  --gray: #f4f4f5;
  --font-primary: "Cabin";
  --font-secondary: "Outfit";
  --font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgba(229, 231, 235, 1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  tab-size: 4;
  font-family: var(--font-primary), var(--font-fallback) !important;
  line-height: 1.5;
  background-color: var(--white);
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button {
  background-color: transparent;
  background-image: none;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button,
[role="button"] {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: inherit;
}
input {
  background-color: transparent;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}
select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  print-color-adjust: exact;
}
input:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary), var(--font-fallback);
  font-weight: 600;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}
main {
  min-height: 100vh;
}
/* ===== Components ===== */
.menu-icon {
  --color: var(--black);
  width: 1.75rem;
  height: 1.5rem;
  display: block;
  position: relative;
}
.menu-icon > span,
.menu-icon:before,
.menu-icon:after {
  width: 100%;
  height: 2.5px;
  transform-origin: center;
  background-color: var(--color);
  transition: opacity 95ms;
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
}
.menu-icon:before,
.menu-icon:after {
  content: "";
  transition: transform 95ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.menu-icon:before {
  transform: translate3d(0, -10px, 0) rotate(0);
}
.menu-icon:after {
  transform: translate3d(0, 10px, 0) rotate(0);
}
.menu-icon.is-open span {
  opacity: 0;
}
.menu-icon.is-open:before {
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-icon.is-open:after {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}
.user-email {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}
#side-bar {
  width: 0;
  height: 100vh;
  left: auto;
  z-index: 75;
  padding-top: 5rem;
  padding-bottom: 6rem;
  pointer-events: none;
}
#side-bar.auth .user-guest,
#side-bar .user-area {
  visibility: hidden;
  opacity: 0;
  height: 0;
  display: none;
}
#side-bar.auth .user-area,
#side-bar .user-guest {
  visibility: visible;
  opacity: 1;
  height: max-content;
  display: flex;
}
#side-bar.is-open {
  pointer-events: all;
}
#side-bar > nav {
  opacity: 0;
  transition-duration: 0.2s;
  transition-delay: 0.3s;
  transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
}
#side-bar.is-open > nav {
  opacity: 1;
  transition-duration: 0.3s;
  transition-delay: 0.5s;
  transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
}
#side-bar::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  transform: translateX(100%);
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
}
#side-bar.is-open::before {
  transform: translateX(0) translateX(0);
}
.nav-link {
  display: block;
  padding: 0.75rem 1rem;
  color: var(--gray);
  text-transform: capitalize;
  background-color: rgba(244, 244, 245, 0.1);
  opacity: 0.8;
}
.nav-link:hover {
  background-color: rgba(244, 244, 245, 0.2);
}
.nav-link.current {
  opacity: 1;
  border-bottom-width: 2px;
}
.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-5xl {
  font-size: 3rem;
  line-height: 1;
}
.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}
.text-7xl {
  font-size: 4.5rem;
  line-height: 1;
}
.text-8xl {
  font-size: 6rem;
  line-height: 1;
}
.thumbnail {
  position: relative;
  width: 100%;
  min-height: 250px;
  height: max-content;
  background-color: var(--gray);
}
.thumbnail .front {
  position: relative;
  width: 100%;
}
.thumbnail:hover .front {
  opacity: 0;
}
.thumbnail .back {
  position: absolute;
  inset: 0;
  opacity: 0;
}
.thumbnail:hover .back {
  opacity: 1;
}
.btn-wish,
.btn-cart {
  --size: 3rem;
  --gap: 1rem;
  position: absolute;
  bottom: var(--gap);
  right: var(--gap);
  height: var(--size);
  width: var(--size);
  display: grid;
  place-items: center;
  border-radius: 999px;
  aspect-ratio: 1/1;
  z-index: 10;
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
  background-color: var(--white);
}
.btn-cart {
  width: max-content;
  height: max-content;
  border-radius: 0.25rem;
  aspect-ratio: auto;
  right: auto;
  left: var(--gap);
  font-family: inherit;
  text-transform: uppercase;
}
.btn-wish::before {
  content: "\f004";
}
.btn-wish.active {
  color: #dc2626;
}
.btn-wish.active::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  #side-bar {
    width: 100vw;
  }
  #side-bar.auth {
    padding-top: 0;
  }
  .sm-text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .sm-text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }
  .sm-text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .sm-text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .sm-text-md {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
