@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Outfit:wght@400;500;600;700&display=swap");
/* ===== Global ===== */
:root {
  --primary: #f89d13;
  --secondary: #8f1d14;
  --black: #1b120f;
  --white: #f4f4f5;
  --font-primary: "Cabin";
  --font-secondary: "Ubuntu";
  --font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgba(229, 231, 235, 1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  tab-size: 4;
  font-family: var(--font-primary), var(--font-fallback);
  line-height: 1.5;
  background-color: var(--white);
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button {
  background-color: transparent;
  background-image: none;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button,
[role="button"] {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary), var(--font-fallback);
  font-weight: 500;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}
