.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
  position: -webkit-sticky;
}
.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.-top-1 {
  top: -0.25rem;
}
.-right-2 {
  right: -0.5rem;
}
.mr-auto {
  margin-right: auto;
}
.aspect-square {
  aspect-ratio: 1 / 1;
}
.h-20 {
  height: 5rem;
}
.h-full {
  height: 100%;
}
.h-12 {
  height: 3rem;
}
.w-10 {
  width: 2.5rem;
}
.h-10 {
  height: 2.5rem;
}
.h-4 {
  height: 1rem;
}
.w-full {
  width: 100%;
}
.flex-row {
  flex-direction: row;
}
.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.gap-4 {
  gap: 1rem;
}
.gap-2 {
  gap: 0.5rem;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded {
  border-radius: 0.25rem;
}
.border-2 {
  border-width: 2px;
}
.border-primary {
  border-color: var(--primary);
}
.border-primary:hover {
  background-color: var(--primary);
}
.border-primary:hover * {
  color: var(--white);
}
.bg-primary {
  background-color: var(--primary);
}
.object-cover {
  object-fit: cover;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.shadow-sm {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.-shadow-xl {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1), -20px 0 25px -5px rgb(0 0 0 / 0.1);
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.bg-gray {
  background-color: var(--gray);
}
.gap-6 {
  gap: 1.5rem;
}
.text-white {
  color: var(--white);
}
.h-screen {
  height: 100vh;
}
.grid {
  display: grid;
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.h-full {
  height: 100%;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.fixed {
  position: fixed;
}
.z-100 {
  z-index: 100;
}
.overflow-hidden {
  overflow: hidden;
}
.justify-center {
  justify-content: center;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.border {
  border-width: 1px;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.text-primary {
  color: var(--primary);
}
.underline {
  text-decoration: underline;
}
.bg-black {
  background-color: var(--black);
}
.border-black {
  border-color: var(--black);
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}
.top-auto {
  top: auto;
}
.bg-white {
  background-color: var(--white);
}
.w-16 {
  width: 4rem;
}
.shadow-xl {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.mb-20 {
  margin-bottom: 5rem;
}
.-shadow-md {
  box-shadow: 0 -4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.h-16 {
  height: 4rem;
}
.grid-cols-span-3 {
  grid-template-columns: 1fr 1fr 1.2fr;
}
.w-4 {
  width: 1rem;
}
.absolute {
  position: absolute;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.bottom-12 {
  bottom: 3rem;
}
.place-items-center {
  place-items: center;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.h-24 {
  height: 6rem;
}
.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.w-4\/5 {
  width: 80%;
}
.my-1\/10 {
  margin-top: 10%;
  margin-bottom: 10%;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.mt-auto {
  margin-top: auto;
}
.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.w-1\/2 {
  width: 50%;
}
.bg-facebook {
  background-color: #1877f2;
}
.bg-instagram {
  background-color: #e4405f;
}
.bg-twitter {
  background-color: #1da1f2;
}
.link {
  position: relative;
  opacity: 0.75;
  width: max-content;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.link:hover {
  opacity: 1;
  color: var(--black);
}
.link::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: var(--black);
  width: 100%;
  left: 0;
  right: 0;
  bottom: -6px;
  opacity: 0;
}
.link:hover::before,
.link.current::before {
  bottom: -3px;
  opacity: 1;
}
.h-screen {
  height: 100vh;
}
.object-cover {
  object-fit: cover;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.text-right {
  text-align: right;
}
.row-span-2 {
  grid-row: span 2 / span 2;
}
.grid-rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}
.leading-tight {
  line-height: 1.25;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.border-l {
  border-left-width: 1.5px;
}
.w-12 {
  width: 3rem;
}
.right-2 {
  right: 0.5rem;
}
.top-0 {
  top: 0;
}
.w-max {
  width: max-content;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.font-medium {
  font-weight: 500;
}
.border-black {
  border-color: var(--black);
}
.text-gray {
  color: var(--gray);
}
.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.ml-12 {
  margin-left: 3rem;
}
.gap-10 {
  gap: 2.5rem;
}
.sm-items-start {
  align-items: flex-start;
}
.p-6 {
  padding: 1.5rem;
}
.p-8 {
  padding: 2rem;
}
.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}
.font-normal {
  font-weight: 400;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-x-2 {
  column-gap: 0.5rem;
}
.-mt-1 {
  margin-top: -0.25rem;
}
.border-b-2 {
  border-bottom-width: 2px;
}
.rounded-xl {
  border-radius: 0.75rem;
}
.bg-clothing {
  background-image: url(/img/clothing.webp);
}
.bg-footwear {
  background-image: url(/img/footwear.avif);
}
.bg-equipment {
  background-image: url(/img/equipment.avif);
}
.bg-clothing,
.bg-equipment,
.bg-footwear {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-color: var(--gray);
}
.bg-clothing *,
.bg-equipment *,
.bg-footwear * {
  z-index: 10;
  position: relative;
}
.bg-clothing::after,
.bg-equipment::after,
.bg-footwear::after {
  content: "";
  position: absolute;
  inset: 0;
  top: auto;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(27, 18, 15, 1) 0%,
    rgba(244, 244, 245, 0) 75%
  );
  transition-duration: 0.5s;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
}
.bg-clothing:hover:after,
.bg-equipment:hover::after,
.bg-footwear:hover::after {
  height: 50%;
}
.pb-20 {
  padding-bottom: 5rem;
}
.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.min-h-screen {
  min-height: 100vh;
}
.pb-10 {
  padding-bottom: 2.5rem;
}
.hover-underline {
  opacity: 0.8;
}
.hover-underline:hover {
  opacity: 1;
  text-decoration: underline;
}
.h-30 {
  height: 7.5rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.opacity-60 {
  opacity: 0.6;
}
.border-b-2 {
  border-bottom-width: 2px;
}
.opacity-100 {
  opacity: 1;
}
.-mt-2 {
  margin-top: -0.5rem;
}
.m-0 {
  margin: 0;
}
.mt-4 {
  margin-top: 1rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.h-\[calc\(100vh-7\.5rem\)\] {
  height: calc(100vh - 7.5rem);
}
.whitespace-nowrap {
  white-space: nowrap;
}
.overflow-x-auto {
  overflow-x: auto;
}
.hover-text-primary:hover {
  color: var(--primary);
}
.hover-border-b:hover {
  border-width: 2px;
}
.hover-scale-up {
  transition: all 0.5s cubic-bezier(0.87, 0, 0.13, 1);
}
.hover-scale-up:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 768px) {
  .sm-hidden {
    display: none;
  }
  .sm-justify-center {
    justify-content: center;
  }
  .sm-grid-cols-none {
    grid-template-columns: none;
  }
  .sm-grid-rows-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }
  .sm-col-auto {
    grid-column: auto;
  }
  .sm-row-span-2 {
    grid-row: span 2 / span 2;
  }
  .sm-block {
    display: block;
  }
  .sm-w-full {
    width: 100%;
  }
  .sm-flex {
    display: flex;
  }
  .sm-flex-row {
    display: flex;
    flex-direction: row;
  }
  .sm-items-center {
    align-items: center;
  }
  .sm-flex-col {
    display: flex;
    flex-direction: column;
  }
  .sm-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .sm-aspect-square {
    aspect-ratio: 1/1;
  }
  .sm-grid-rows-none {
    grid-template-rows: none;
  }
  .sm-h-max {
    height: max-content;
  }
  .sm-grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
