.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
  position: -webkit-sticky;
}
.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.-top-1 {
  top: -0.25rem;
}
.-right-2 {
  right: -0.5rem;
}
.mr-auto {
  margin-right: auto;
}
.aspect-square {
  aspect-ratio: 1 / 1;
}
.h-20 {
  height: 5rem;
}
.h-full {
  height: 100%;
}
.h-12 {
  height: 3rem;
}
.h-4 {
  height: 1rem;
}
.w-full {
  width: 100%;
}
.flex-row {
  flex-direction: row;
}
.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.gap-4 {
  gap: 1rem;
}
.gap-2 {
  gap: 0.5rem;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded {
  border-radius: 0.25rem;
}
.border-2 {
  border-width: 2px;
}
.border-primary {
  border-color: var(--primary);
}
.bg-primary {
  background-color: var(--primary);
}
.object-cover {
  object-fit: cover;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.shadow-sm {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.shadow-xl {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1), -20px 0 25px -5px rgb(0 0 0 / 0.1);
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.bg-gray {
  background-color: var(--gray);
}
.gap-6 {
  gap: 1.5rem;
}
.text-white {
  color: var(--white);
}
@media screen and (max-width: 768px) {
  .sm-hidden {
    display: none;
  }
}
