Body {
  overflow-x: hidden;
}

/* start sidebar top */
.sidebar-close {
  display: none;
}
.sidebar-top {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  color: var(--white);
  background-image: url(https://images.unsplash.com/photo-1567401893414-76b7b1e5a7a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2xvdGhpbmdzfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
  background-position: center;
  background-size: contain;
  background-repeat: repeat-x;
  border-radius: 0.75rem;
  overflow: hidden;
}
.sidebar-top::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0.75;
  background-color: var(--black);
}
.sidebar-top * {
  z-index: 10;
  position: relative;
}

.sidebar-top h1 {
  font-size: 50px;
}
/* end sidebar top */

.content_wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  /* font-family: var(--font-fallback); */
}

.shop-section {
  grid-column: span 3 / span 3;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  /* border: 1px solid #80808033; */
  /* border-radius: 9px; */
  /* height: 500vh; */
}

.shop-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sidebar {
  width: 100%;
  position: sticky;
  top: 90px;
  height: max-content;
  z-index: 20;
}

.title-sidebar {
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  /* justify-content: center; */
  margin-bottom: 10px;
  /* padding: 10px; */
}

.clear-sidebar {
  font-size: 18px;
  text-transform: uppercase;
  /* background-color: #5555553f; */
  /* padding-left: 6px; */
  margin-bottom: 6px;
  border-left: 1px solid #8080806b;
  border-bottom: 1px solid #8080806b;
  border-top: 1px solid #8080806b;
  padding: 10px;
}
.section-sidebar {
  width: 80%;
  /* margin: 60px 30px; */
  /* overflow-y: scroll; */
  /* height: 60%; */
}

.title-sidebar h2 {
  font-size: 23px;
  font-weight: 700;
}
.section-sidebar {
  overflow-y: auto;
}

.section-sidebar::-webkit-scrollbar-track {
  /* border: 1px solid #000; */
  padding: 2px 0;
  border-radius: 40px;
}

.section-sidebar::-webkit-scrollbar {
  width: 10px;
}

.section-sidebar::-webkit-scrollbar-thumb {
  border-radius: 40px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #737272;
  border: 1px solid #000;
}
/* start category */
.sidebar-wrap {
  margin-top: 10px;
  /* border: 1px solid black; */
  border-radius: 10px;
  /* margin-right: 10px; */
  /* padding-left: 3px; */
}
.categori {
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  /* margin: 10px 0; */
  margin-bottom: 10px;
  align-items: center;
}

.categori .icons {
  margin: 6px 0px 0 0;
  width: 30px;
  height: 30px;
  color: #000000;
  float: left;
  text-align: center;
  border-radius: 50px;
  transition: all 0.3s ease-in;
}

.categori h5 {
  font-size: 18px;
  margin: 0;
  /* padding: 7px 0px 7px 0; */
  font-weight: 500;
}

.list-categori {
  /* margin-left: 5px; */
  font-size: 14px;
  text-align: justify;
  display: flex;
  /* justify-content: center; */
  /* overflow: hidden;
  max-height: 0px; */
  transition: all 0.3s ease-in;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; */
}

.list-categori ul li label {
  font-size: 16px;
  font-weight: 300;
  font-family: var(--font-primary);
}
input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  margin-right: 6px;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #555555;
  border-radius: 3px;
  background-color: white;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}
/* end category */
/* start filter price */
.sidebar-warp-2 {
  /* margin-top: 30px; */
  /* border: 1px solid black; */
  border-radius: 10px;
  margin-right: 10px;
  padding-left: 3px;
}
.sidebar-warp-2 h1 {
  font-size: 18px;
  margin: 0;
  padding: 7px 0px 7px 0;
  font-weight: 900;
}
.price-box {
  padding-left: 4px;
}
.price-box .slide input {
  width: 90%;
  margin-bottom: 20px;
  -webkit-appearance: none;
  outline: none;
  background-color: #cec8c875;
  border-radius: 6px;
}
.slide input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: rgb(219, 215, 215);
  border: 3px solid black;
  border-radius: 20px;
  cursor: pointer;
}
.price {
  display: flex;
}

.price p {
  font-weight: 500;
}

.price-text-1 p {
  background-color: var(--primary);
  color: aliceblue;
  padding: 9px 12px;
  margin-right: 8px;
  cursor: pointer;
  padding-bottom: 8px;
}
.price-text-2 {
  margin-top: 7px;
  font-size: 18px;
  color: black;
}
.price-text-2::before {
  content: "price: $";
}
.price-text-2::after {
  content: "-$40";
}
.option-color ul {
  list-style: none;
}

.opition-1 {
  background-color: aqua;
}
.opition-1 span {
  display: none;
}
.opition-1 span::before {
  content: "";
  border: 2px solid;
  padding: 2px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  border-color: transparent;
}

/* end filter price */
/* start color */
.sidear-wrap-3 {
  margin-top: 20px;
  /* border: 1px solid black; */
  /* border-radius: 10px; */
  /* margin-right: 10px;
  padding-left: 3px; */
}
.sidear-wrap-3 h1 {
  font-size: 18px;
  margin: 0;
  padding: 7px 0px 7px 0;
  font-weight: 700;
}
.sidear-wrap-3 ul {
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* border-radius: 30px; */
  /* margin-left: 6px; */
  /* display: grid; */
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; */
}
.sidear-wrap-3 ul li {
  /* display: inline-block; */
  /* margin-bottom: 10px;
  margin-left: 14px; */
  border: 2px solid var(--gray);
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  /* padding: 2px 4px; */
  height: 2rem;
  width: 2rem;
  display: grid;
  place-items: center;
}
.sidear-wrap-3 .option-color {
  height: 1.25rem;
  width: 1.25rem;
}
.apply-filter {
  display: flex;
  text-align: center;
  margin-top: 20px;
  justify-content: space-between;
}
.apply-filter button {
  background-color: var(--primary);
  padding: 10px 20px;
  border-radius: 0.25rem;
  font-weight: 500;
  color: white;
  text-transform: capitalize;
}

.empty {
  display: flex;
  align-items: center;
  margin-right: 17px;
  color: rgb(88, 85, 85);
  border: 1px solid rgba(255, 0, 0, 0.685);
  padding: 14px 15px;
  border-radius: 60px;
  transition: all 0.4s;
}

.empty:hover {
  background-color: red;
  color: white;
}
/* .option-color {
  padding: -1px;
} */
/* end color */
/* start gender */
.sidebar-wrap-4 {
  margin-top: 20px;
  /* border: 1px solid black; */
  border-radius: 10px;
  /* margin-right: 10px; */
  /* padding-left: 9px; */
  /* padding-bottom: 8px; */
}

.sidebar-wrap-4 button {
  border: 1px solid var(--primary);
  padding: 7.5px 15px;
  font-weight: 700;
  color: var(--black);
  border-radius: 0.25rem;
  margin-top: 10px;
  transition: 0.2s all;
}

.sidebar-wrap-4 button:not(:last-child) {
  margin-right: 10px;
}

.sidebar-wrap-4 button:hover {
  background-color: var(--primary);
  color: var(--white);
}
.sidebar-wrap-4 h1 {
  font-size: 18px;
  margin: 0;
  padding: 7px 0px 7px 0;
  font-weight: 700;
}
/* end gender */
/* start size */
.sidebar-wrap-5 {
  margin-top: 20px;
  /* border: 1px solid black; */
  border-radius: 10px;
  /* margin-right: 10px; */
  /* padding-left: 3px; */
}
.sidebar-wrap-5 h1 {
  font-size: 18px;
  margin: 0;
  padding: 7px 0px 7px 0;
  font-weight: 700;
}
.sidebar-wrap-5 .option-size {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.sidebar-wrap-5 .option-size button {
  background-color: var(--gray);
  padding: 5px 15px;
}
/* end size */
/* start section grup */
.sections_group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* margin-left: 20px; */
}

.card-shop {
  height: 100px;
}
.post-shop {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}

.all-shop {
  padding: 18px;
  background-color: var(--main-color);
  border-radius: 10px;
}
.readmore-wrap {
  max-height: 200px !important;
  margin-bottom: 7px !important;
}
.readmore {
  display: none;
}

.desc {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.3s ease-in-out;
}

.readmore:checked ~ .readmore-wrap .desc {
  opacity: 1;
  font-size: inherit;
  max-height: 100px;
}

.readmore ~ .trigger:before {
  content: "Show more";
}
.trigger {
  color: red;
  font-size: 14px;
  font-weight: 600;
}
.desc a:hover {
  text-decoration: underline;
}
.text {
  /* margin: 40px; */
  /* margin-bottom: 20px; */
}

.category-name h1 {
  font-size: 20px;
  text-decoration: underline;
  padding-bottom: 10px;
}

.tgl h1 {
  font-size: 13px;
}

.tgl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 14px;
}

.tgl span {
  font-size: 13px;
}
.tgl span i {
  padding-right: 4px;
}
.post-img {
  background-image: url("https://static.mammut.com/cdn-cgi/image/width=1000,quality=50,f=auto,metadata=none/master/1016-00800-50031_main-grey_229965.jpg"); /* First Image URL */
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  transition: 0.5s ease;
  margin-bottom: 10px;
}
.post-img:hover {
  background-image: url("https://static.mammut.com/cdn-cgi/image/width=1000,quality=50,f=auto,metadata=none/master/1016-00800-50031_mod-main-hf-png_236959.png"); /* Second Image URL */
}

.cate {
  font-weight: 600;
  font-size: 14px;
  padding: 8px 0px;
}
.cate ul li,
.color-list ul li {
  display: inline-block;
}

.color-list {
  display: flex;
  justify-content: center;
}

.color-list ul li .option1 {
  height: 13px;
  width: 13px;
  background-color: cadetblue;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.color-list ul li .option2 {
  height: 13px;
  width: 13px;
  background-color: antiquewhite;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.color-list ul li .option3 {
  height: 13px;
  width: 13px;
  background-color: aqua;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.color-list ul li .option4 {
  height: 13px;
  width: 13px;
  background-color: aquamarine;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
/* end section grup */
.filter {
  background-color: var(--primary);
  border-radius: 0.25rem;
  padding: 0.75rem 1.75rem;
}

.color-list {
  display: flex;
}

.color-list .active:after {
  content: "";
  width: 22px;
  height: 22px;
  border: 1px solid #8888;
  border-radius: 50%;
  color: white;
}

.option-color-1 {
  padding-left: 10px;
  margin-left: 10px;
  border-radius: 50%;
}

#red {
  background-color: red;
  color: red;
  padding: 1px 5px;
  border-radius: 50%;
  cursor: pointer;
}

#black {
  background-color: black;
  color: black;
  padding: 1px 5px;
  border-radius: 50%;
  cursor: pointer;
}

#yellow {
  background-color: yellow;
  color: yellow;
  padding: 1px 5px;
  border-radius: 50%;
  cursor: pointer;
}

/* Custom */
.harga {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.sort-section {
  margin: 11px 0px;
}

.image-thumbnail {
  position: relative;
  min-width: 269px;
  min-height: 346px;
  z-index: -99;
}

/* hover images */
.image-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
}
.image-thumbnail img:hover {
  opacity: 0;
}
.image-thumbnail img.hov-img:hover {
  opacity: 1;
  cursor: pointer;
}

.section-btn {
  position: absolute;
  bottom: 10px;
}
.section-btn .btn {
  font-size: 14px;
  font-weight: 700;
  background-color: white;
  margin-left: 6px;
  border-radius: 10px;
  padding: 10px;
}

.section-btn .btn-1 i {
  font-size: 20px;
  background-color: white;
  padding: 17px;
  border-radius: 44px;
  position: absolute;
  left: 176%;
  bottom: 0px;
}
select {
  width: 200px;
  outline: none;
  border: 1px solid var(--primary);
  padding: 10px;
  background-color: var(--white);
}
@media screen and (max-width: 1026px) {
  .sections_group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* margin-left: 20px; */
  }
}

@media screen and (max-width: 1294px) {
  .sections_group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* margin-left: 20px; */
  }
}

@media screen and (max-width: 725px) {
  /* .top-content-sidebar{
    padding: 30px 0px;
  } */
  .shop-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text {
    margin: 0px;
    text-align: left;
    padding: 0px;
  }
  .sidebar {
    position: fixed;
    background-color: var(--white);
    color: black;
    width: 100%;
    padding: 10% 10%;
    margin: 0 auto;
    height: calc(100vh - 80px);
    top: 80px;
    left: 0;
    right: 0;
    overflow-y: auto;
    transform-origin: top right;
    transform: translate(0, 0) scaleY(0);
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  }

  .sidebar.active {
    transform: translate(0, 0) scale(1);
  }

  .apply-filter {
    justify-content: flex-start;
    /* padding-left: 10px; */
  }
  .apply-filter .empty {
    margin-left: 12px;
  }
  .sidebar-close {
    display: block;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    border-width: 1px;
    border-radius: 30px;
    position: absolute;
    top: 10px;
    right: 10%;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    background: var(--gray);
  }

  .list-categori {
    /* margin-left: 5px; */
    font-size: 14px;
    text-align: justify;
    display: flex;
    /* justify-content: center; */
    overflow: hidden;
    /* max-height: 0px; */
    transition: all 0.3s ease-in;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; */
  }

  .-wrap-option-color {
    overflow: hidden;
    /* max-height: 0px; */
    transition: all 0.3s ease-in;
  }
  .option-gender {
    overflow: hidden;
    /* max-height: 0px; */
    transition: all 0.3s ease-in;
  }
  .option-size {
    overflow: hidden;
    /* max-height: 0px; */
    transition: all 0.3s ease-in;
  }
  #overlay {
    position: fixed;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;

    z-index: -1;
  }

  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  .categori {
    /* padding-left: 12px; */
    margin: 10px 0;
  }
  .categori::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f107";
    position: absolute;
    right: 65px;
    display: none;
  }
  .title-1 {
    /* padding-left: 12px; */
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    margin: 10px 0;
    align-items: center;
  }
  .title-1::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f107";
    position: absolute;
    right: 65px;
    display: none;
  }
  .title-2 {
    /* padding-left: 6px; */
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    margin: 10px 0;
    align-items: center;
  }
  .title-2::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f107";
    position: absolute;
    right: 65px;
    display: none;
  }
  .size {
    /* padding-left: 20px; */
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    margin: 10px 0;
    align-items: center;
  }
  .size::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f107";
    position: absolute;
    right: 65px;
    display: none;
  }
}

@media screen and (max-width: 638px) {
  .sections_group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* margin-left: 20px; */
  }
}

@media screen and (max-width: 496px) {
  .shop-section {
    grid-column: span 4 / span 4;
  }

  .sections_group {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-left: 0;
    margin: 0 auto;
  }

  .sidebar-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    /* padding: 32px 0px; */
  }

  .section-btn .btn-1 i {
    font-size: 20px;
    background-color: white;
    padding: 17px;
    border-radius: 44px;
    position: absolute;
    left: 231%;
    bottom: 0px;
  }

  .select-box__current {
    margin: 12px 0px;
  }
}
